@model DoctorDuzenleViewModel
@{
    ViewData["Title"] = "Doktor Düzenle";
}


<div class="row">
    <div class="col-4 offset-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">İsim</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Surname" class="form-label">Soyisim</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PoliklinikId" class="form-label">Poliklinik</label>
                <select asp-for="PoliklinikId" class="form-control">
                    <option value="">Seçiniz</option>
                    <option value="1">Kadın-Doğum</option>
                    <option value="2">Dahiliye</option>
                    <option value="3">Cildiye</option>
                    <option value="4">Nöroloji</option>
                    <option value="5">Pediatri</option>
                    <option value="6">Kulak-burun-boğaz</option>
                    <option value="7">Göz-hastalıkları</option>
                    <option value="8">Psikiatri</option>
                </select>
                <span asp-validation-for="PoliklinikId" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BaslangicSaati" class="form-label">Başlangıç Saati</label>
                <select asp-for="BaslangicSaati" class="form-control">
                    <option value="">Seçiniz</option>
                    @for (int i = 9; i <= 17; i++)
                    {
                        for (int j = 0; j < 2; j++)
                        {
                            var time = $"{i:D2}:{j * 30:D2}:00";
                            <option value="@time">@time</option>
                        }
                    }
                </select>
                <span asp-validation-for="BaslangicSaati" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="BitisSaati" class="form-label">Bitiş Saati</label>
                <select asp-for="BitisSaati" class="form-control">
                    <option value="">Seçiniz</option>
                    @for (int i = 9; i <= 17; i++)
                    {
                        for (int j = 0; j < 2; j++)
                        {
                            var time = $"{i:D2}:{j * 30:D2}:00";
                            <option value="@time">@time</option>
                        }
                    }
                </select>
                <span asp-validation-for="BitisSaati" class="text-danger small"></span>
            </div>

        </form>
    </div>
</div>