@inject LanguageService language
@model DoctorListViewModel
@{
    ViewData["Title"] = @language.GetKey("Doktor Kaydı");
}


<div class="row">
    <div class="col-4 offset-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">@language.GetKey("İsim")</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Surname" class="form-label">@language.GetKey("Soyisim")</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">@language.GetKey("Kullanıcı Adı")</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">@language.GetKey("Şifre")</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RePassword" class="form-label">@language.GetKey("Şifre")</label>
                <input asp-for="RePassword" type="password" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PoliklinikId" class="form-label">Poliklinik</label>
                <select asp-for="PoliklinikId" class="form-control">
                    <option value="">@language.GetKey("Seçiniz")</option>
                    <option value="1">@language.GetKey("Kadın-Doğum")</option>
                    <option value="2">@language.GetKey("Dahiliye")</option>
                    <option value="3">@language.GetKey("Cildiye")</option>
                    <option value="4">@language.GetKey("Nöroloji")</option>
                    <option value="5">@language.GetKey("Pediatri")</option>
                    <option value="6">@language.GetKey("Kulak-burun-boğaz")</option>
                    <option value="7">@language.GetKey("Göz-hastalıkları")</option>
                    <option value="8">@language.GetKey("Psikiatri")</option>
                </select>
                <span asp-validation-for="PoliklinikId" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CalismaGunu" class="form-label">Çalışma Günü</label>
                <input asp-for="CalismaGunu" type="DayOfWeek" class="form-control" />
                <span asp-validation-for="CalismaGunu" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BaslangicSaati" class="form-label">Başlangıç Saati</label>
                <input asp-for="BaslangicSaati" type="TimeSpan" class="form-control" />
                <span asp-validation-for="BaslangicSaati" class="text-danger small"></span>
            <div class="form-group mb-3">
                    <label asp-for="BitisSaati" class="form-label">Bitiş Saati</label>
                <input asp-for="BitisSaati" type="TimeSpan" class="form-control" />
                <span asp-validation-for="BitisSaati" class="text-danger small"></span>
            </div>


            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket me-2"></i>@language.GetKey("Kaydet")</button>
            </div>
        </form>
    </div>
</div>