@inject LanguageService language
@model DoctorDuzenleViewModel
@{
    ViewData["Title"] = @language.GetKey("Doktor Düzenle");
}


<div class="row">
    <div class="col-4 offset-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label">@language.GetKey("İsim")</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Surname" class="form-label">@language.GetKey("Soyisim")</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger small"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">@language.GetKey("Kullanıcı Adı")</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PoliklinikId" class="form-label">@language.GetKey("Poliklinik")</label>
                <select asp-for="PoliklinikId" class="form-control">
                    <option value="">Seçiniz</option>
                    <option value="1">Kadın-Doğum</option>
                    <option value="2">Dahiliye</option>
                    <option value="3">Cildiye</option>
                    <option value="4">Nöroloji</option>
                    <option value="5">Pediatri</option>
                    <option value="6">Kulak-burun-boğaz</option>
                    <option value="7">Göz-hastalıkları</option>
                    <option value="8">Psikiatri</option>
                </select>
                <span asp-validation-for="PoliklinikId" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CalismaGunu" class="form-label">Çalışma Günü</label>
                <input asp-for="CalismaGunu" type="DayOfWeek" class="form-control" />
                <span asp-validation-for="CalismaGunu" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BaslangicSaati" class="form-label">Başlangıç Saati</label>
                <input asp-for="BaslangicSaati" type="TimeSpan" class="form-control" />
                <span asp-validation-for="BaslangicSaati" class="text-danger small"></span>
                <div class="form-group mb-3">
                    <label asp-for="BitisSaati" class="form-label">Bitiş Saati</label>
                    <input asp-for="BitisSaati" type="TimeSpan" class="form-control" />
                    <span asp-validation-for="BitisSaati" class="text-danger small"></span>
                </div>
            </div>

            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block"><i class="fa-solid fa-right-to-bracket me-2"></i> Kaydet</button>
            </div>
        </form>
    </div>
</div>