@inject LanguageService language
﻿@{
    ViewData["Title"] = @language.GetKey("Profil");
}


<div class="row">
    <div class="col-4 offset-4">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-4 offset-4">

        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>

        <form method="post" asp-action="ProfileChangeUsername">
            <div class="form-group">
                <label class="form-label small">@language.GetKey("Kullanıcı Adı")</label>
                <div class="input-group mb-3">
                    <input name="username" type="text" class="form-control" value="@ViewData["Username"]" />
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>@language.GetKey("Kaydet")</button>
                </div>
                @if (ViewData["result"] != null && ViewData["result"] == "UsernameChanged")
                {
                    <span class="text-success small">@language.GetKey("Kullanıcı adı güncellendi.")</span>
                }
            </div>

        </form>

        <form method="post" asp-action="ProfileChangePassword">
            <div class="form-group">
                <label class="form-label small">@language.GetKey("Yeni Şifre")</label>
                <div class="input-group">
                    <input name="password" type="password" class="form-control" />
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>@language.GetKey("Kaydet")</button>
                </div>
                @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged")
                {
                    <span class="text-success small">@language.GetKey("Şifre güncellendi.")</span>
                }
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @if (ViewData["result"] != null)
    {
        <script>
            var result = "@ViewData["result"]";
            if (result == "PasswordChanged" || result == "UsernameChanged") {
                toastr["success"]("İşlem başarıyla gerçekleştirildi.", "Başarılı!");
            }
        </script>
    }
}


