@model List<RandevuListViewModel>
@{
    ViewData["Title"] = "Randevular";
}

<div class="row mb-3">
    <div class="col">
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hasta Id</th>
                    <th>Doktor Id</th>
                    <th>Randevu Günü</th>
                    <th>Randevu Saati</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (RandevuListViewModel randevu in Model)
                {
                    <tr>
                        <td>@randevu.RandevuId</td>
                        <td>@randevu.Id</td>
                        <td>@randevu.DoctorId</td>
                        <td>@randevu.RandevuGunu</td>
                        <td>@randevu.RandevuSaati</td>
                        <td class="text-end">
                            <a asp-action="Delete" asp-controller="Account" asp-route-id="@randevu.Id"
                               onclick="return confirm('Bu Randevuyu Silmek İstediğinize Emin Misiniz ?')"
                               class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>Sil</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>