@inject LanguageService language
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hastane_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/toastrjs/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hastane_.styles.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assest/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="~/css/ana sayfa/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/ana sayfa/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <a class="navbar-brand" asp-controller="Admin" asp-action="Index">@language.GetKey("ASEN HASTANESİ")</a>
                    }
                    else if (User.IsInRole("doctor"))
                    {
                        <a class="navbar-brand" asp-controller="Doctor" asp-action="Index">@language.GetKey("ASEN HASTANESİ")</a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">@language.GetKey("ASEN HASTANESİ")</a>
                    }

                }
                else
                {
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">@language.GetKey("ASEN HASTANESİ")</a>

                }
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">

                        

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class ="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-action="AdminList" asp-controller="User">@language.GetKey("Adminler")</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-action="Index" asp-controller="User">@language.GetKey("Kullanıcılar")</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-action="DoctorList" asp-controller="User">@language.GetKey("Doktorlar")</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-action="AdminRandevuListesi" asp-controller="Admin">@language.GetKey("Randevular")</a></li>
                                <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" asp-action="PoliklinikList" asp-controller="User">@language.GetKey("Departmanlar")</a></li>
                            }

                        if (User.IsInRole("doctor"))
                        {
                            <li class="nav-item">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Doctor" asp-action="DoctorRandevuListesi">@language.GetKey("Randevular")</a>
                            </li>
                            }
                            if (User.IsInRole("user"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Account" asp-action="RandevuAl">@language.GetKey("Randevu Al")</a>       
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="User" asp-action="RandevuListesi">@language.GetKey("Randevularım")</a>
                                </li>
                                <li class="nav-item ms-auto">
                                    <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Account" asp-action="Profile">@language.GetKey("Profili Düzenle")</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Account" asp-action="Logout">@language.GetKey("Çıkış Yap")</a>
                            </li>

                        }
                        else
                        {

                            <li class="nav-item ms-auto">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#portfolio">@language.GetKey("Departmanlar")</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#about">@language.GetKey("Hakkında")</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Account" asp-action="Login">@language.GetKey("Giriş Yap")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" asp-area="" asp-controller="Account" asp-action="Register">@language.GetKey("Kayıt Ol")</a>
                            </li>
                        }
                        <div class="float-end d-flex flex-column align-items-center">
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline">
                                    <a asp-action="ChangeLanguage" asp-controller="Home" asp-route-culture="tr-TR" class="text-decoration-none text-white">Türkçe</a>
                                </li>
                            </ul>
                            <hr class="text-white my-1 w-100">
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline">
                                    <a asp-action="ChangeLanguage" asp-controller="Home" asp-route-culture="en-US" class="text-decoration-none text-white">English</a>
                                </li>
                            </ul>
                        </div>

                    </ul>
                </div>
            </div>
        </nav>


    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastrjs/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>