@model List<hastane_.Entities.Randevu>
@inject LanguageService language
<h2>Admin Randevu Listesi</h2>

@if (Model.Count > 0)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row mb-3">
    <div class="col">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>@language.GetKey("Hasta")</th>
                <th>@language.GetKey("Doktor")</th>
                <th>@language.GetKey("Randevu Günü")</th>
                <th>@language.GetKey("Randevu Saati")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.User.Name @randevu.User.Surname</td>
                    <td>@randevu.Doctor.Name @randevu.Doctor.Surname</td>
                    <td>@randevu.RandevuGunu.ToShortDateString()</td>
                    <td>@randevu.RandevuSaati</td>
                    <td class="text-end">                       
                        <a asp-action="AdminDeleteRandevu" asp-controller="Account" asp-route-id="@randevu.RandevuId"
                            onclick="return confirm(@language.GetKey("'Bu Randevuyu Silmek İstediğinize Emin Misiniz ?'"))"
                           class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>@language.GetKey("Sil")</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
        </div>
    </div>
}
else
{
    <p>@language.GetKey("Randevu listeniz bulunmamaktadır.")</p>
}